@font-face {
  font-family:CenturyGothic;
  src:url(/application/helpers/fonts/CenturyGothic.ttf);
}

.sobre{
  width: 7%;
  padding-top: 2%;
}

.center_v2{
  font-size: 185%;
  text-align: center;
}

.logo_banner{
  width: 15%;
  height: 150px;
}

body{
  width: 100%;
  font-family: CenturyGothic;
}

footer{
  background-color: black;
}


.text_red{
  color: #E2231A;
}

.text_black{
  color: black
}

.text_white{
  color: white;
}

.text_white_detalle{
  color: white;
  font-size: 140%;
}

.text_red_bold{
  color: #E2231A;
  font-weight: bold;
}

.text_orange_bold{
  color: #DA6612;
  font-weight: bold;
  font-size: 120%;
}

.text_white_bold{
  color: white;
  font-weight: bold;
  font-size: 180%;
}

.text_black_bold{
  color: black;
  font-weight: bold;
  font-size: 120%;
}


div.item img{
  max-height: 100%;
}

div.item div a img.ver{
  height: 30px;
  width: 120px;
}

div.item img.logo{
  width: 80%;
}

a img.flecha{
  height: 50px;
  width: 50px;
  top: 50%;
  display: inline-block;
  position: absolute;
}

a.left{
  text-align: left;
}
a.right{
  text-align: left;
}

div span.top{
  font-size: 250%;
  font-weight: bold;
}

div span.back{
  font-size: 300%;
  font-weight: bold;
}


.bloque{
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 80%;
}

.aviso{
  font-size: 350%;
  font-family: CenturyGothic;
  font-weight: bold;
}

.titulo{
  font-size: 180%;
  font-family: CenturyGothic;
  font-weight: bold;
  padding-bottom: 1%;
  padding-top: 1%;
  text-align: center;
}
.detalle{
  font-size: 160%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

.barra{
  width: 40px;
  height: 10px;
  display: table-cell;
}
.bot{
  margin-top: 20px;
  margin-bottom: 80px;
}
.top{
  margin-top: 80px;
  margin-bottom: 20px;
}

.cuerpo{
  background-color: #FAFBFC;
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 30px;
  margin-top: 30px;
}

.cuerpodetalle{
  background-color: #FAFBFC;
  width: 100%;
  height: 100%;
  position: relative;
}

.cuerpodetalle div.row div.red{
  background-color: #E2231A;
}

.cuerpodetalle div.row div.black{
  background-color: #1F252F;
}

.cuerpodetalle div.row div.center{
    padding-top: 2%;

    text-align: center;
    height: 500px;
}

.cuerpodetalle div.row div.center div.row div.left{
    text-align: left;
    padding-top: 3%;
}

.cuerpodetalle div.row div img{
  width: 18%;
}

.ceropadding{
  padding-right: 0;
  padding-left: 0;
}

div.cuerpo div.linea{
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

div.cuerpo div.linea div{
  position: relative;
}

div.cuerpo div.linea div .centro{
  font-weight: bold;
  position: absolute;
  top: 61.2%;
  width: 80%;
  left: 10.1%;
  height: 29.3%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.cuerpo div.linea div .centro span{
  color: white;
  font-size: 120%;
}

div.cuerpo div img{
  margin: 10%;
  width: 80%;
  height: 90%;
  position: relative;
}

.fondotop{
  position: absolute;
  width: 200px;
  height: 500px;
}
.fondobot{
  position: absolute;
  width: 200px;
  height: 500px;
  float: right;
  bottom: 5px;
  right: 5px;
}

.fichero{
  background-color: white;
  width: 100%;
  min-height: 700px;
  position: relative;
}

div.fichero .fondotop{
  position: absolute;
  width: 50%;
  height: 65%;
  top: 0px;
  right: 0px;
}
div.fichero .fondobot{
  position: absolute;
  width: 60%;
  height: 85%;
  bottom: 0px;
  left: 0px;
}

div.fichero div.primero{
  position: absolute;
  top: 17%;
  left: 29%;
  max-width: 20%;
}

div.fichero div.segundo{
  position: absolute;
  top: 25%;
  left: 41%;
  max-width: 20%;
}

div.fichero div.tercero{
  position: absolute;
  top: 51.5%;
  left: 49%;
  max-width: 20%;
}

div.fichero div.cuarto{
  position: absolute;
  top: 60%;
  left: 60%;
  max-width: 20%;
}

div.fichero div.quinto{
  position: absolute;
  top: 64%;
  left: 47%;
  max-width: 40%;
}


div.fichero * img.imagen{
  width: 30%;
  height: 30%;
  padding-bottom: 6%;
}

div.item div.center{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 120%;
  top: 8%;
}

div.item div.center_2{
  display: table-cell;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 120%;
  top: 25%;
}

#best{
  border-bottom-style:solid;
  border-bottom-width:thick;
}

.caja{
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

.video1{
  position:absolute;
  top:1%;
  left:1%;
}

.video2{
  position:absolute;
  top:1%;
  left:1%;
}

.video3{
  position:absolute;
  top:1%;
  left:1%;
}

.row{
  margin-right: 0;
  margin-left: 0;
}

div.bloque div.row{
  text-align: center;
}

div.row div.top{
  display: flex;
  justify-content: center;
}

div.row div.bot{
  display: flex;
  justify-content: center;
}

.carousel-caption{
  width: 100%;
  right: 0;
  left: 0;

}

.banner_res{
  font-size: 100%;
  top:20%
}

.banner_res_2{
  font-size: 100%;
  top:35%;
}

.img_res{
  padding-top: 1%;
  width: 10%;
}

.responsive_header{
  position:absolute;
  width:100%;
  z-index: 11;
}
.responsive_header_2{
  position:absolute;
  width:100%;
  z-index: 11;
}

.colapsive_header{
  position:absolute;
  width:100%;
  z-index: 11;
  display: none;
}

.field_caja{
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  padding-bottom:300px;
}
.top_nos{
  justify-content: center;
  display: flex;
  margin-top: 5%;
}

.bot_res{
  margin-bottom: 100px;
}
.top_top{
  margin-top: 100px;
}
.bot_bot{
  margin-bottom: 100px;
}

.logo_contac{
  width: 60%;
}
.logo_ref{
  text-align: left;
  left: 5%;
}
.contac_row{
  width:100%;
  z-index: 10;
  padding-top:2%;
  padding-bottom:4%;
}

@media only screen and (max-width: 1300px){
  .center_v2{
    font-size: 170%;
    text-align: center;
  }
  .banner_res{
    font-size: 90%;
  }
  .banner_res_2{
    font-size: 90%;
  }
  .aviso{
    font-size: 300%;
  }
  .img_res{
    width: 12%;
  }
  div span.top{
    font-size: 360%;
  }
  .barra{
    width: 38px;
    height: 9.5px;
  }
  .field_caja{
    padding-bottom:240px;
  }
  .top_nos{
    margin-top: 2%;
  }
  .bot_res{
    margin-bottom: 95px;
  }
  .top_top{
    margin-top: 95px;
  }
  .bot_bot{
    margin-bottom: 95px;
  }
  .titulo{
    font-size: 175%;
  }
  .detalle{
    font-size: 145%;
  }
  .bloque{
    height: 260px;
  }
  .logo_contac{
    width: 60%;
  }
  .logo_ref{
    text-align: left;
    left: 5%;
  }
}

@media only screen and (max-width: 1200px){
  .center_v2{
    font-size: 155%;
    text-align: center;
  }
  div.item img.logo{
    width: 200%;
  }
  div span.top{
    width: 340%;
  }
  .barra{
    width: 36px;
    height: 9px;
  }

  .field_caja{
    padding-bottom:200px;
  }

  .top_nos{
    margin-top: -1%;
  }
  .bot_res{
    margin-bottom: 85px;
  }
  .top_top{
    margin-top: 90px;
  }
  .bot_bot{
    margin-bottom: 90px;
  }
  .titulo{
    font-size: 170%;
  }
  .detalle{
    font-size: 140%;
  }
  .bloque{
    height: 240px;
  }
  .sobre{
    width: 13%;
  }
}


@media only screen and (max-width: 1000px){
  .center_v2{
    font-size: 140%;
    text-align: center;
  }
  .banner_res{
    font-size: 80%;
  }
  .banner_res_2{
    font-size: 80%;
  }

  .aviso{
    font-size: 250%;
  }
  .img_res{
    width: 13%;
  }
  div.item img.logo{
    width: 100%;
  }
  div span.top{
    font-size: 320%;
  }
  .barra{
    width: 34px;
    height: 8px;
  }

  .field_caja{
    padding-bottom:150px;
  }
  .top_nos{
    margin-top: -4%;
  }
  .bot_res{
    margin-bottom: 65px;
  }
  .top_top{
    margin-top: 75px;
  }
  .bot_bot{
    margin-bottom: 75px;
  }
  .titulo{
    font-size: 160%;
  }
  .detalle{
    font-size: 140%;
  }
  .bloque{
    height: 220px;
  }
  .sobre{
    width: 13%;
  }
}

@media only screen and (max-width: 800px){
  .center_v2{
    font-size: 130%;
    text-align: center;
  }
  .banner_res{
    font-size: 50%;
    top:25%
  }
  .banner_res_2{
    font-size: 70%;
    top:30%
  }
  .aviso{
    font-size: 200%;
  }
  .img_res{
    width: :16.5%;
  }
  div.item img.logo{
    width: 70%;
  }
  div span.top{
    font-size: 300%;
  }
  .barra{
    width: 32px;
    height: 7px;
  }
  .field_caja{
    padding-bottom:125px;
  }
  .top_nos{
    margin-top: -7%;
  }
  .bot_res{
    margin-bottom: 45px;
  }
  .top_top{
    margin-top: 45px;
  }
  .bot_bot{
    margin-bottom: 45px;
  }
  .titulo{
    font-size: 155%;
  }
  .detalle{
    font-size: 135%;
  }
  .bloque{
    height: 210px;
  }
  .sobre{
    width: 13%;
  }
}

@media only screen and (max-width: 767px){
  .center_v2{
    font-size: 200%;
    text-align: center;
  }
  div.item div.center{
    display: none;
  }
  .banner_res{
    font-size: 40%;
    top:25%
  }
  .banner_res_2{
    font-size: 60%;
    top:30%
  }
  .aviso{
    font-size: 150%;
  }
  .colapsive_header{
    display: flex;
    opacity: 0.8;
  }
  .responsive_header_2{
    display:none;
  }
  .aditional_none{
    display:none;
  }
  .container-fluid{
    margin-left: 5%;
  }
  div span.top{
    font-size: 270%;
  }
  .barra{
    width: 20px;
    height: 6px;
  }
  .field_caja{
    padding-bottom:100px;
  }
  .top_nos{
    margin-top: -10%;
  }
  .bot_res{
    margin-bottom: 25px;
  }
  .top_top{
    margin-top: 25px;
  }
  .bot_bot{
    margin-bottom: 25px;
  }
  .titulo{
    font-size: 150%;
  }
  .detalle{
    font-size: 130%;
  }
  .bloque{
    height: 200px;
  }
  .sobre{
    width: 13%;
  }
}

@media only screen and (max-width: 700px){
  .banner_res_2{
    font-size: 50%;
    top:30%;
  }
  .bloque{
    font-size: 90%;
  }
  .cuerpodetalle{
    font-size: 90%
  }
  .sobre{
    width: 15%;
  }
}
