@font-face {
  font-family:CenturyGothic;
  src:url(/application/helpers/fonts/CenturyGothic.ttf);
}

body{
  width: 100%;
  font-family: CenturyGothic;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F252F;
  padding-top: 5%;
  padding-bottom: 5%;
}

footer div.container div.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.footer div a img{
  width: 35%;
}

.text_red{
  color: #E2231A;
}

.text_black{
  color: black
}

.text_white{
  color: white;
}

.text_white_detalle{
  color: white;
  font-size: 140%;
}

.text_red_bold{
  color: #E2231A;
  font-weight: bold;
}

.text_orange_bold{
  color: #DA6612;
  font-weight: bold;
  font-size: 120%;
}

.text_white_bold{
  color: white;
  font-weight: bold;
  font-size: 180%;
}

.text_black_bold{
  color: black;
  font-weight: bold;
  font-size: 120%;
}


div.item img{
  max-height: 100%;
  width:100%
}

div.item div a img.ver{
  height: 30px;
  width: 120px;
}

div.item img.logo{
  width: 80%;
}

a img.flecha{
  height: 50px;
  width: 50px;
  top: 50%;
  display: inline-block;
  position: absolute;
}

a.left{
  text-align: left;
}
a.right{
  text-align: left;
}

div span.top{
  font-size: 50px;
  font-weight: bold;
}

div span.back{
  font-size: 40px;
  font-weight: bold;
}


.bloque{
  height: 277px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aviso{
  font-size: 50px;
  font-family: CenturyGothic;
  font-weight: bold;
}

.titulo{
  font-size: 180%;
  font-family: CenturyGothic;
  font-weight: bold;
  padding-bottom: 9%;
}
.detalle{
  font-size: 160%;
  padding-top: 5%;
}

.barra{
  width: 60px;
  height: 15px;
  display: table-cell;
}
.bot{
  margin-bottom: 100px;
}
.top{
  margin-top: 100px;
}

div.bloque div.row{
  position: absolute;
}

.cuerpo{
  background-color: #FAFBFC;
  width: 100%;
  height: 100%;
  position: relative;
}

.cuerpodetalle{
  background-color: #FAFBFC;
  width: 100%;
  height: 100%;
  position: relative;
}

.cuerpodetalle div.row div.red{
  background-color: #E2231A;
}

.cuerpodetalle div.row div.black{
  background-color: #1F252F;
}

.cuerpodetalle div.row div.center{
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
    max-height: 500px;
}

.cuerpodetalle div.row div.center div.row div.left{
    text-align: left;
    padding-top: 3%;
}

.cuerpodetalle div.row div img{
  width: 18%;
}

.ceromargin{
  margin-right: 0;
  margin-left: 0;
}

.ceropadding{
  padding-right: 0;
  padding-left: 0;
}

div.cuerpo div.linea{
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

div.cuerpo div.linea div{
  position: relative;
}

div.cuerpo div.linea div .centro{
  font-weight: bold;
  position: absolute;
  top: 67.2%;
  width: 80%;
  left: 10.1%;
  height: 32.3%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.cuerpo div.linea div .centro span{
  color: white;
  font-size: 170%;
}

div.cuerpo div img{
  margin: 10%;
  width: 80%;
  height: 90%;
  position: relative;
}

.fondotop{
  position: absolute;
  width: 200px;
  height: 500px;
}
.fondobot{
  position: absolute;
  width: 200px;
  height: 500px;
  float: right;
  bottom: 5px;
  right: 5px;
}

.fichero{
  background-color: white;
  width: 100%;
  min-height: 700px;
  position: relative;
}

div.fichero .fondotop{
  position: absolute;
  width: 50%;
  height: 65%;
  top: 0px;
  right: 0px;
}
div.fichero .fondobot{
  position: absolute;
  width: 60%;
  height: 85%;
  bottom: 0px;
  left: 0px;
}

div.fichero div.primero{
  position: absolute;
  top: 17%;
  left: 29%;
  max-width: 20%;
}

div.fichero div.segundo{
  position: absolute;
  top: 25%;
  left: 41%;
  max-width: 20%;
}

div.fichero div.tercero{
  position: absolute;
  top: 51.5%;
  left: 49%;
  max-width: 20%;
}

div.fichero div.cuarto{
  position: absolute;
  top: 60%;
  left: 60%;
  max-width: 20%;
}

div.fichero div.quinto{
  position: absolute;
  top: 64%;
  left: 47%;
  max-width: 40%;
}


div.fichero * img.imagen{
  width: 30%;
  height: 30%;
  padding-bottom: 6%;
}

div.item div.center{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 120%;
  top: 8%;
}

#best{
  border-bottom-style:solid;
  border-bottom-width:thick;
}

.caja{
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

.video1{
  position:absolute;
  top:1%;
  left:1%;
}

.video2{
  position:absolute;
  top:1%;
  left:1%;
}

.video3{
  position:absolute;
  top:1%;
  left:1%;
}


