@font-face {
  font-family:CenturyGothic;
  src:url(/radical/application/helpers/fonts/CenturyGothic.ttf);
}

body{
  width: 1920px;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F252F;
  height: 398px;
}

footer div.container div.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_red{
  color: #E2231A;
}

.text_white{
  color: white;
}

div.item img{
  height: 1000px;
}

div.item img.ver{
  height: 30px;
  width: 120px;
}

a img.flecha{
  height: 50px;
  width: 50px;
  top: 50%;
  display: inline-block;
  position: absolute;
}

a.left{
  text-align: right;
  padding-right: 10%;
}
a.right{
  text-align: left;
  padding-left: 10%;
}

div span.top{
  font-size: 50px;
}

div span.back{
  font-size: 40px;
}

.carousel-caption{
  padding-bottom: 380px;
}

.bloque{
  height: 277px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aviso{
  font-size: 50px;
  font-family: CenturyGothic;
  font-weight: bold;
}

.barra{
  width: 35px;
  height: 10px;
  display: table-cell;
}
.bot{
  margin-bottom: 100px;
}
.top{
  margin-top: 100px;
}

div.bloque div.row{
  position: absolute;
}

.cuerpo{
  background-color: #FAFBFC;
  width: 100%;
  height: 100%;
  position: relative;
}

div.cuerpo div.linea{
  display: flex;
  align-content: center;
  justify-content: center;
}

div.cuerpo div.linea div{
  position: relative;
}

div.cuerpo div.linea div .centro{
  position: absolute;
  top: 62.2%;
  width: 443px;
  left: 7.7%;
  height: 171px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.cuerpo div.linea div .centro span{
  color: white;
  font-size: 30px;
}

div.cuerpo div img{
  margin: 40px;
  width: 443px;
  height: 479px;
  position: relative;
}

.fondotop{
  position: absolute;
  width: 200px;
  height: 500px;
}
.fondobot{
  position: absolute;
  width: 200px;
  height: 500px;
  float: right;
  bottom: 5px;
  right: 5px;
}
